{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    ["styled-components"],
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "@components": "./components",
        "@lib": "./lib",
        "@transport": "./transport",
        "@services": "./services",
        "@layouts": "./layouts",
        "@constants": "./constants"
      }
    }]
  ]
}
